.post-detail  {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
}

.post-detail.img {
    /*display: flex !important;*/
    /*align-items: center !important;*/
    /*max-height: 1200px;*/
    margin-bottom: 15px;
    margin-top: 15px;
}

.post-detail.title {
    font-weight: 600;
}

.post-detail.subtitle {
   /*line-height: 1.5;*/
}

.post-detail.desc {
    /*font-style: italic;*/
    margin-bottom: 12px;
    /*font-family: "Arial";*/
    /*font-size: large;*/
    /*line-height: 24px;*/

}