.post-item  {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
}

.post-item.item img {
    max-width: 180px;
}

.post-item.title {
    font-family: Impact;
    font-weight: bold;
    padding-bottom: 3px;
}

.post-item.body {
    font-style: italic;
    padding-bottom: 12px;
}