.post-detail  {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
    font-family: Roboto;
}

.post-detail.item img {
    max-width: 1300px;
}

.post-detail.title {
    padding: 3px;
}

.post-detail.body {
    font-family: Roboto;
    font-style: italic;
    padding-bottom: 12px;
}