.post-item  {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
    font-family: Roboto;
}

.post-item.item.img {
    /*max-width: 36px;*/
    /*padding-right: 12px;*/
}

.post-item.title {
    padding: 3px;
}

.post-item.body {
    font-style: italic;
    padding-bottom: 12px;
}