.post-detail  {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
    font-family: Roboto;
}

.post-detail.img {
    display: flex !important;
    align-items: center !important;
    max-width: 1200px;
    max-height: 600px;
}

.post-detail.title {
    padding: 3px;
}

.post-detail.subtitle {
    padding: 3px;
}

.post-detail.desc {
    font-family: Roboto;
    font-style: italic;
    padding-bottom: 12px;
}